<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>

<body>
    <header>
        <h1>Personal Information</h1>
    </header>

    <main>

        <section>
            <div>
                <img src="../../assets/img/Bhoomichha.jpg" alt="Your Name">
            </div>
        </section>
        <section>
            <p id="aboutMe">
                Name:Bhoomichha Dangol<br>
                Course: Software Engineering Technician<br>
                Semester: 3rd<br><br>
                This is my first year in Canada. So far, I am loving it here. Yeah, I do
                miss my family and friends who are in Nepal.
                But, they all are happy that I am doing well here and I hope they are doing fine there too. The only reason I am being able to survive here alone is because of the 
                friends I made after ccoming to Canada. 
            </p>
            <p id= "secondPara">Ever since my childhood I always had numbers of hobbies and things I wanted to do.
                Below listed are some of my hobbies and the activities that I love:</p> 
               
               
    
                <ul>
                    
                    <li>Playing Guitar</li>
                    <li>Singing</li>
                    <li>Playing Basketball</li>
                    <li>Watching Animes, Dramas and Movies</li>
                    <li>Spending time with my Friends & Family</li>
                    <li>Reading Novels</li>
                
                </ul>
                
    
                   <p id="abtMeCtd"> The above listed are the activities I really enjoy. Ever since my childhood I was so into music
                    that I decided to be a singer. But as I grew up, I came to know that singing as my profession 
                    is not what I want. Whenever I feel low or sad, music always motivated and gave me that one push
                    which helped me keep on moving leaving all the past behind.<br><b><em>"People haven't always been there for me,but music always has" ~~ Taylor Swift.</em></b>
                    This quote by Taylor Swift is what I relate with.<br>
                    Other than music, Basketball helps me ease down my anxiety. I started playing basketball since grade seven. There was a time when I enjoyed solving 
                       mathematical problems related to a<sup>2</sup>+b<sup>2</sup>=&nbsp;(a + b)<sup>2</sup>-/+ 2ab. However, after I entered the world of basketball, the only thing that
                       excited me was tournaments. Travelling and spending time with my friends and family has always been my favorite way to spend spare time. We watch movies, laugh and 
                       celebrate together.
                    </p>
                    <blockquote>
                        <b><i>"The love of family and friends is the glue that holds your heart together."</i></b> 
                    </blockquote>
                    <br><br>
                    

        </section>
    </main>
</body>

</html>