<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1 id="projectsList">Project's List:</h1>
    </header>
    <img id="houseopedia" src="../../assets/img/Houseopedia.png" alt="Project1">

    <h5 id="intro">
        Houseopedia
    </h5>

    <p>
        Houseopedia was the first project I worked on. Though it was just a final project for my 1st semester, I learnt
        many things while working on this project.
        Houseopedia is a website that will help you find the perfect place to live. It will provide you some best
        options (House, Apartment, Condominium, and many more)
        according to your preference. <br>
        Since it was an individual project, I was responsible for everything. I had many difficulties building a
        responsive website. But, with the help of professor and some online resources,
        I could finish everything on time.
    </p>
    <br><br><br>
    <p>
        I have only worked for one project so far. So, as soon as I work on the other projects, I will make sure to list
        it here!!
    </p>


</body>

</html>