<!--
    File: services.component.html
    Name: Bhoomichha Dangol
    Student Id: 301270567
    Date: 2023-06-07
-->
<!DOCTYPE html>
<html>

<head>
    <title>Contact Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>Contact From</h1>
    </header>
    <!--Contact form-->
    <section class="contact_container" id="properties">
        <div class="heading">
            <br>
            <h4> Please Fill Up the below to contact us: </h4>

        </div>
        <div class="form_container">
            <form action="mailto:dangolvumi123@gmail.com" method="post">
                <div>
                    <p>
                        <label for="FirstName">First Name:&nbsp;</label>
                        <input id="FirstName" type="text" name="FirstName" size="20" placeholder="Enter your first name"
                            required="required">
                    </p>
                    <p>
                        <label for="LastName"><br>Last Name:&nbsp;</label>
                        <input id="LastName" type="text" name="LastName" size="20" placeholder="Enter your last name"
                            required="required">
                    </p>

                    <p>
                        <label for="phone"><br>Phone No:</label>
                        <input type="tel" id="phone" name="phone" required="required"><br><br>
                    </p>
                    <p>
                        <label for="email">Email:&nbsp; &nbsp;&nbsp;&nbsp;</label>
                        <input type="email" id="email" placeholder="yourmail@mail.com" size="50" name="email">
                    </p>

                    <br>
                    <br>
                    <br>
                    <p id="lastbutns">
                        <input name="btnSubmit" type="submit" value="Submit" tabindex="39">
                        <input name="btnReset" type="reset" value="Clear Form" tabindex="41">
                    </p>

                </div>


            </form>
        </div>
    </section>
</body>

</html>