<!--
    File: app.component.html
    Name: Bhoomichha Dangol
    Student Id: 301270567
    Date: 2023-06-07
-->

<!DOCTYPE html>
<html>

<head>
  <title>Assignment 01</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <br>

  <nav>
    <a routerLink="home" routerLinkActive="active"><img src="../assets/img/Logo.png"> &nbsp;<br><br><br></a>
    <div id="navLinks">
      <hr>
      <a routerLink="home" routerLinkActive="active">Home</a>&nbsp;&nbsp;
      <a routerLink="about" routerLinkActive="active">About</a>&nbsp;&nbsp;
      <a routerLink="projects" routerLinkActive="active">Projects</a>&nbsp;&nbsp;
      <a routerLink="services" routerLinkActive="active">Services</a>&nbsp;&nbsp;
      <a routerLink="contact" routerLinkActive="active">Contact</a>&nbsp;&nbsp;
      <hr>
    </div>

  </nav>
  




  <router-outlet></router-outlet>
</body>

</html>