<!--
    File: services.component.html
    Name: Bhoomichha Dangol
    Student Id: 301270567
    Date: 2023-06-07
-->
<!DOCTYPE html>
<html>

<head>
    <title>Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>Available Services:</h1>
    </header>
    <div class="service">
        <img src="../../assets/img/web-development.jpeg" alt="Web Development">
        <h2>Web Development</h2>
        <p>Create and design websites using HTML, CSS, and JavaScript. Build responsive and interactive user interfaces.
        </p>
    </div>
    <br>
    <p id="ending">For now, we only have the service of Developing websites. We will be back soon with some more services.</p>

</body>

</html>