<!--
    File: home.component.html
    Name: Bhoomichha Dangol
    Student Id: 301270567
    Date: 2023-06-07
-->
<!DOCTYPE html>
<html>


<head>
    <title>Portfolio-HomePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <br>
        <h1>Step into My Assignment Journey!<br>

            Discover the culmination of my hard work, creativity, and dedication in this online portfolio</h1>
    </header>

    <p id="missionStatement">"Transforming ideas into reality through a combination of design, development, and
        passion."</p>

    <nav>

        <li><a routerLink="../about" routerLinkActive="active">About</a>&nbsp;&nbsp;</li>
        <li><a routerLink="../projects" routerLinkActive="active">Projects</a>&nbsp;&nbsp;</li>
        <li><a routerLink="../services" routerLinkActive="active">Services</a>&nbsp;&nbsp;</li>
        <li><a routerLink="../contact" routerLinkActive="active">Contact Us</a>&nbsp;&nbsp;</li>


    </nav>
    <router-outlet></router-outlet>
</body>

</html>